/* :root {
  --18: 400 18px League Spartan;
  --16: 400 16px League Spartan;
  --h1: 400 64px League Spartan;
  --12: 400 12px League Spartan;
  --40: 400 40px League Spartan;
  --20: 400 20px League Spartan;
  --11: 400 11px League Spartan;
  --17: 400 17px League Spartan;
  --14: 400 14px League Spartan;
  --30: 400 30px League Spartan;
  --24: 400 24px League Spartan;
} */

* {
  box-sizing: border-box;
}

body {
  background-color: #0c0d2e;
  font-family: League Spartan;
  font-weight: normal;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

#background-color {
  background-color: #010225;
  padding-bottom: 100px;
  /* position: relative;
  z-index: 10; */
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
}

.header {
  background-color: #0c0d2e;
  position: relative;
  z-index: 6;
}

.header-logo {
  max-width: 170px;
}

.header-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.header-text {
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  color: white;
}

.header-text:hover {
  text-decoration: none;
  font-size: 18px;
  color: #189ce8;
  line-height: 20px;
}

.button-menu {
  font-size: 16px;
  line-height: 16px;
  background: #0c0d2e;
  border-radius: 100px;
  border: 2px solid #fff;
  min-height: 50px;
  width: 160px;
  color: white;
}

.portfolio {
  background-color: #010225;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.crypto-portfolio {
  max-width: 640px;
  margin-left: 60px;
}

.h1-title {
  font-size: 64px;
  line-height: 76px;
  max-width: 560px;
  margin: 0;
}

.text-portfolio {
  font-size: 12px;
  line-height: 30px;
  color: white;
  max-width: 620px;
}

.phone-portfolio {
  width: 800px;
  height: 740px;
  position: absolute;
  z-index: 5;
  top: -60px;
  left: 670px;
}

.crypto-title {
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 15px;
}

.new-crypto-position {
  position: relative;
  z-index: 4;
  background-color: #0c0d2e;
}

.new-crypto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.crypto {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

.crypto-text {
  font-size: 18px;
  line-height: 30px;
}

.learn-more {
  display: flex;
  gap: 20px;
}

.benefit {
  max-width: 360px;
  text-align: center;
  padding: 40px;
}

.benefit-headline {
  font-size: 20px;
  line-height: 20px;
  color: white;
}

.benefit-text {
  font-size: 11px;
  line-height: 24px;
  max-width: 270px;
}

.benefit-button {
  border: none;
  background-color: inherit;
  color: #159be8;
  line-height: 20px;
  font-size: 18px;
}

.perfect {
  gap: 40px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.perfect-border {
  top: -500px;
  left: -300px;
  z-index: 2;
  position: absolute;
  width: 800px;
  height: 800px;
  border: 180px solid rgba(33, 34, 80, 0.4);
}

.landing-page {
  text-align: center;
  max-width: 700px;
}

.landing-title {
  max-width: 660px;
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 15px;
}

.landing-text {
  font-size: 12px;
  line-height: 30px;
}

.feature {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.feature-description {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.feature-textl {
  max-width: 345px;
  text-align: right;
}

.feature-title {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  padding-top: 12px;
}

.feature-article {
  font-size: 16px;
  line-height: 24px;
  padding-top: 10px;
  margin: 0;
}

.feature-textr {
  max-width: 345px;
  text-align: left;
}

.friendly {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.manage {
  text-align: left;
  margin-left: 40px;
  max-width: 640px;
}

.manage-title {
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 15px;
}
.manage-subtitle {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #159be8;
}

.manage-article {
  font-size: 12px;
  line-height: 30px;
}

.manage-benefit {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.benefit-description {
  max-width: 310px;
}

.benefit-title {
  font-size: 20px;
  line-height: 20px;
}

.benefit-article {
  font-size: 11px;
  line-height: 24px;
  padding-right: 40px;
}

.manage-benefit-position {
  position: relative;
}

.benefit-position {
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 135px;
}

.manage-benefit-button {
  font-size: 16px;
  line-height: 16px;
  color: white;
  background-color: #159be8;
  border: 2px solid #159be8;
  border-radius: 100px;
  width: 160px;
  height: 50px;
  position: relative;
  z-index: 2;
}

.img-friendly {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.backed {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 100px;
}

.backed-subtitle {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #159be8;
}

.backed-title {
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 15px;
}

.cooperation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.reviews {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.reciew {
  max-width: 300px;
}

.review-text {
  max-width: 290px;
  font-size: 17px;
  line-height: 30px;
  padding-right: 15px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.user-title {
  font-size: 18px;
  line-height: 20px;
  margin: 20px 0 10px 0;
}

.verified {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.prising-position {
  background-color: #010225;
  position: relative;
  z-index: 3;
}

.pricing {
  margin-top: 100px;
  padding: 120px 30px;
}

.choose {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.choose-subtitle {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #159be8;
}

.choose-title {
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 15px;
}

.choose-text {
  font-size: 18px;
  line-height: 30px;
}

.billed {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.billed-text {
  font-size: 16px;
  line-height: 20px;
}

/* СКОПИРОВАНО!!!!!!!!! */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* СКОПИРОВАНО!!!!!!!!!!! */

.billed-article {
  font-size: 16px;
  line-height: 20px;
  max-width: 100px;
}

.billed-article span {
  font-size: 14px;
  line-height: 16px;
  color: #159be8;
}

.rates {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.rate {
  text-align: center;
  padding: 10px 50px;
  max-width: 390px;
  min-height: 440px;
  background-color: #0c0d2e;
}

.rate-blue {
  border-top: 4px solid #159be8;
}

.rate-red {
  border-top: 4px solid #f95b74;
}

.rate-purple {
  border-top: 4px solid #7c44e2;
}

.rate-subarticle {
  font-size: 30px;
  line-height: 42px;
}

.rate-price {
  font-size: 40px;
  line-height: 56px;
}

.rate-text {
  font-size: 16px;
  line-height: 22px;
}

.rate-button {
  font-size: 16px;
  line-height: 16px;
  color: white;
  background-color: inherit;
  width: 200px;
  height: 50px;
  border-radius: 100px;
  border: 2px solid #fff;
  margin: 35px;
}

.buy {
  text-align: center;
  position: relative;
  z-index: 1;
}

.buy-container-left {
  position: absolute;
  width: 800px;
  height: 800px;
  border: 180px solid rgba(33, 34, 80, 0.4);
  top: -470px;
  left: -300px;
  z-index: 2;
}

.buy-container-right {
  position: absolute;
  width: 800px;
  height: 800px;
  border: 180px solid rgba(33, 34, 80, 0.4);
  top: 225px;
  left: 850px;
  z-index: 2;
}

.buy-container {
  padding: 120px 280px;
  background-color: #0c0d2e;
}

.buy-title {
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 15px;
}

.buy-text {
  font-size: 18px;
  line-height: 30px;
  max-width: 700px;
  margin: 0 auto;
}

.buy-button {
  padding: 45px 0;
}

.button-blue {
  font-size: 16px;
  line-height: 16px;
  color: white;
  background-color: #159be8;
  border-radius: 100px;
  border: 2px solid #159be8;
  width: 160px;
  height: 50px;
  margin-right: 20px;
}

.button-background {
  font-size: 16px;
  line-height: 16px;
  color: white;
  background-color: inherit;
  border-radius: 100px;
  border: 2px solid #ffffff;
  width: 160px;
  height: 50px;
}

.footer-position {
  background-color: #0c0d2e;
  position: relative;
  z-index: 4;
}

.footer {
  text-align: center;
  padding: 100px;
}

.subscribe {
  max-width: 400px;
  margin: 0 auto;
}

.footer-title {
  font-size: 30px;
  line-height: 42px;
}

.media {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.subscribe-text {
  font-size: 24px;
  line-height: 36px;
}

.subscribe-form {
  width: 400px;
  height: 50px;
  border-radius: 1px;
  border: 2px solid #282b53;
  background-color: #010225;
}

.subscribe-button {
  width: 130px;
  height: 50px;
  border-radius: 100px;
  border: 2px solid #159be8;
  background-color: #159be8;
  margin: 50px 0;
}

.subscribe-subtext {
  font-size: 18px;
  line-height: 20px;
  padding: 25px 0;
}
