:root {
--18: 400 18px League Spartan;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;

.header{
  background: #0C0D2E;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.image {
  width: 50%;

}

.header-menu  {
display: flex;
gap: 24px;
}

.header-text  {
  text-decoration: none;
  font: var(--18);
  color: white;
  line-height: 20px;

}